<%= form_for(@heading, :url => {:controller => :headings, :action => :create}, method: :post, :remote => true) do |f| %>
  <% if @heading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@heading.errors.count, "error") %> prohibited this heading from being saved:</h2>

      <ul>
      <% @heading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :placeholder => "Create a new heading" %>
  </div>
  
  <%= f.hidden_field :user_id %>
<% end %>